antlr==2.7.5rc1
asn1crypto==0.24.0
attrs==17.4.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.7
beautifulsoup4==4.6.0
blinker==1.4
boto==2.44.0
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
Click==7.0
configobj==5.0.6
cryptography==2.1.4
cvxopt==1.1.9
cycler==0.10.0
decorator==4.1.2
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
funcsigs==1.0.2
futures==3.2.0
gyp==0.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.0
Jinja2==2.10.3
joblib==0.11
jupyter-client==5.2.2
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
MarkupSafe==1.1.1
matplotlib==2.1.1
mercurial==4.5.3
mock==2.0.0
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
ndg-httpsclient==0.4.4
netifaces==0.10.4
networkx==1.11
nltk==3.2.5
nose==1.3.7
numexpr==2.6.4
numpy==1.13.3
olefile==0.45.1
openpyxl==2.4.9
pandas==0.22.0
paramiko==2.0.0
pathlib2==2.3.0
patsy==0.4.1+dev
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.6.0
Pmw==1.3.2
prompt-toolkit==1.0.15
py==1.5.2
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.1
pygame===1.9.1release
Pygments==2.2.0
pygobject==3.26.1
pymol==1.8.4.0
PyMySQL==0.8.0
pyodbc==4.0.17
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pysqlite==2.7.0
pytest==3.3.2
python-apt==1.6.5+ubuntu0.2
python-cloudfiles==1.7.10
python-dateutil==2.6.1
python-xlib==0.20
pytz==2018.3
PyWavelets==0.5.1
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
scandir==1.7
scikit-image==0.13.1
scipy==0.19.1
scour==0.36
SecretStorage==2.3.1
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.14.0
SQLAlchemy==1.3.13
statsmodels==0.8.0
stevedore==1.28.0
subprocess32==3.2.7
tables==3.4.2
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.1.0
xlwt==0.7.5
