@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200&display=swap');

body{
  background-image: url("../static/images/laptopmono.jpg");
  background-attachment: fixed;
  font-family: 'Open Sans Condensed';
  font-size: 180%;
  
}

section {
  opacity: 100%;
}

body:after{ 
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}



/* start nav*/
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo{
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo a{
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: 'Source Code Pro', monospace;
}
.nav div.logo a:hover{
  /* setting to green for now */
  color: #00E676;
}
.nav div.listofcontents{
  height:65px;
  float:right;
}
.nav div.listofcontents a{
  text-decoration: none;
  color: black;
  font-family: 'Source Code Pro', monospace;
}

.nav div.listofcontents ul{
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav div.listofcontents li{
  width: auto;
  height: 65px;
  padding: 0;
  padding-right:3rem;
  
}

.nav div.listofcontents a:hover{
  color: #00E676;
}
.nav{
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transform: all 0.4s ease;
  transition: all 0.4s ease;
}
.navTrigger{
  display:none;
}

/* end of nav*/

/* media query */
@media screen and (min-width: 900px) and (max-width: 1080px){
  .container{
  }
}
@media screen and (max-width:990px ){
  .navTrigger{
    display:block;
  }
  .nav div.listofcontents a{
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
   }
  .nav div.logo{
    margin-left: 15px;
  }
  .nav div.listofcontents{
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list{
    height: auto;
    display: auto;
  }
  .nav div.listofcontents ul{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#111;
    background-position: center top;
  }
  .nav div.listofcontents ul li{
    width: 100%;
    text-align: center;
    font-size: 300%;
  }
  .nav div.listofcontents ul li a{
    width: 100%;
    font-size: 50%;
    padding: 20px;
  }
  .nav div.media_button{
    display: block;
  }
}
/* Collapse */
/* end media query */

/* animation */
.navTrigger{
  cursor: pointer;
  width: 30px;
  height:25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  padding-top: 18px;
}
.affix .navTrigger{
  cursor: pointer;
  width: 30px;
  height:25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  padding: 0;
}
.navTrigger i {
  background-color: black;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}
.affix .navTrigger p {
  color: white;
  font-size: 40%;
}
.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: black;
  font-size: 80%;
}

.affix .container .logo a{
  color: white;
  font-size: 80%;
}

.affix .container .logo a:hover{
  color: #00E676;
}

.affix .container .navlinks a{
  color: white;
}

.affix .container .navlinks a:hover{
  color: #00E676;
}

.nav .affix .navTrigger i{
  font-size: 80%;
  color: white;
}

/* end of animation */

.nav-section{
  width: 100%;
  height: 100px;
}

/* transparent-background */
.transparent-background{
  background-image: url("../static/images/laptopmono.jpg");
}
/* end transparent-background */

/* about section */
.about-section{
  width: 100%;
  padding-top: 40px;
  height: 1000px;
  /* background-color: blue; */
}
.about-section-container h1{
  text-align: center;
  font-family: 'Amatic SC';
}
.about-section-container p{
  text-align: center;
  font-family: 'Indie Flower';
  font-size: 30px;
}
/* end about section */

.col-large{
  text-align: center;
  background-color: rgb(32, 179, 224);
  font-size: 200%;
  position: relative;
  left: 15%;
  width: 80%;
  height: 80%;
  border-radius: 10%;
  border: 1px black;
  box-shadow: 1px 2px 2px black;
}

.col-left{
  text-align: center;
  background-color: rgb(32, 179, 224);
  position: relative;
  height:500px;
  width:100%;
  font-size: 175%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

.col-right{
  text-align: center;
  background-color: rgb(238, 238, 105);
  position: left;
  height:500px;
  width:100%;
  font-size: 175%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}
}

.room_id{
  position: right;
  background-color: white;
  right: 51.5%;
  height: 40%;
  width: 30%;
  bottom: 31%;
  font-size: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

/**Header**/

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 10%;
    padding-bottom: 200px;
  }
}


/**Create Classroom**/
.headerbg{
  background-color:rgb(155, 155, 155);
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

.createclassroom{
  background: transparent;
  padding:5%;
  background-image:none;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.classroomlistings {
  position: relative;
  background-color: transparent;
  height:500px;
  font-size: 175%;
}

.form-container {
    position: relative;
    width: 30%;
    margin: auto;
    margin-top: 105px;
    background-color:rgba(50,50,50,.35);
    padding: 1%;
    border-radius:15px;
}

.btn-outline-info {
    color: rgb(42, 91, 165);
    border-color: rgb(42, 91, 165);
    background-color: white;
}
.btn-outline-info:hover {
    background-color: rgb(42, 91, 165);
    color: white;
    border-color: rgb(42, 91, 165);
}

.login {
    border: 1px solid black;
    margin: auto;
}