body{
  background: #9bdaf2;
  color: #333333;
}

@font-face{
  font-family: RobotoBold;
  src: url("../Fonts/fontkit/roboto-bold-webfont.woff");
  font-weight: bold;
}

nav{
  background-image: linear-gradient(to bottom,#15afe9,#9bdaf2);
  font-family:RobotoBold;
}

.navbar-brand{
  margin-bottom:1%;
  color:#ffa600;
}


.nav-link{
  background-color:#9bdaf2;
  border: 1px solid black;
  box-shadow: 1px 2px 2px black;
  border-radius: 10px;
  margin-bottom:15%;
  margin-left:250%;
  text-align:center;
  width:100%;
}

.homebutton{
  margin-left:100%;
}

.navleft{
  width:5%;
}

.navright{
  margin-left:25%;
  width:5%;
}

.login{
  background-color:#ffa600;
  margin-right:25%;
}

.register{
  background-color:#3265f0;
  margin-right:25%;
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
}
