@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200&display=swap');

body{
  
  background-attachment: fixed;
  font-family: 'Open Sans Condensed';
  font-size: 180%;
  
}

section {
  opacity: 100%;
}

body:after{ 
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}



/* start nav*/
.nav {
  z-index: 3;
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo{
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo a{
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: 'Source Code Pro', monospace;
}
.nav div.logo a:hover{
  /* setting to green for now */
  color: #00E676;
}
.nav div.listofcontents{
  height:65px;
  float:right;
  
}
.nav div.logged_in{
  height: 65px;
  float: right;
  font-size: 80%;
  display:flex;
}
.nav div.listofcontents a{
  text-decoration: none;
  color: black;
  font-family: 'Source Code Pro', monospace;
}

.nav div.listofcontents ul{
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
  
}

.nav div.listofcontents li{
  width: auto;
  height: 65px;
  padding: 0;
  padding-right:3rem;
  
}

.nav div.listofcontents a:hover{
  color: #00E676;
}
.nav{
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transform: all 0.4s ease;
  transition: all 0.4s ease;
}
.navTrigger{
  display:none;
}


/* end of nav*/

/* media query */
@media screen and (max-width: 414px){
  .nav div.logo a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
  }
}
@media screen and (min-width: 900px) and (max-width: 1080px){
  .container{
    
    
  }
}
@media screen and (max-width:1200px){
  .navTrigger{
    display:block;
  }
  
  .nav div.logged_in{
    height: 65px;
    float: right;
    
    display:flex;
  }
  .nav div.logged_in a{
    font-size: 80%;
  }
  .nav div.listofcontents a{
    text-decoration: none;
    color:white;
    font-family: 'Source Code Pro', monospace;
    
  }
  .nav div.logo{
    margin-left: 15px;
  }
  .nav div.listofcontents{
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list{
    height: auto;
    display: flex;
}
  .nav div.listofcontents ul{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#111;
    background-position: center top;
  }
  .nav div.listofcontents ul li{
    width: 100%;
    text-align: center;
    font-size: 300%;
  }
  .nav div.listofcontents ul li a{
    width: 100%;
    font-size: 50%;
    padding: 20px;
  }
  .nav div.media_button{
    display: block;
  }
}
/* Collapse */
/* end media query */

/* animation */
.navTrigger{
  cursor: pointer;
  width: 30px;
  height:25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  padding-top: 18px;
}
.affix .navTrigger{
  cursor: pointer;
  width: 30px;
  height:25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  padding: 0;
}
.navTrigger i {
  background-color: black;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}
.navTrigger p{
  font-size: 60%;
  color: black;
}
.affix .navTrigger i{
  background-color: white;
  }

.affix .navTrigger p {
  color: white;
  font-size: 40%;
}
.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  font-size: 80%;
  background-color:black;
}

.affix .container .logo a{
  color: white;
  font-size: 100%;
}

.affix .container .logo a:hover{
  color: #00E676;
}

.affix .container .navlinks a{
  color: white;
}

.affix .container .navlinks a:hover{
  color: #00E676;
}

.nav .affix .navTrigger i{
  font-size: 80%;
  color: white;
}

.affix .container .logo a:hover{
  color: #00E676;
}

.affix .container .navlinks a{
  color: white;
}

.affix .container .navlinks a:hover{
  color: #00E676;
}

.nav .affix .navTrigger i{
  font-size: 80%;
  color: white;
}

/* end of animation */

.nav-section{
  
  width: 100%;
  height:100px;
}
/* transparent-background */
.transparent-background{
  background-image: url("../static/images/laptopmono.jpg");
  background-size: cover;
}
/* end transparent-background */
/* About-Section */

.about-section{
  width: 100%;
  padding-top: 40px;
  height: 1000px;
  /* background-color: blue; */
}
.col-md-6 img{
  margin-left: 10%;
  margin-top: 8%;
  box-shadow:  black 5px 5px 45px;
}
.students-button{
  width: 50%;
  padding-left: 13%;
  float:left
}
.teachers-button{
  width:50%;
  float:left;
  padding-right:13%;
}
.teachers-button img{
  display:inline-flex;
  margin-left: 20%;
  margin-top: 8%;
  box-shadow: black 5px 5px 45px;

}
.students-button img{
  margin-left: 20%;
  margin-top: 8%;
  box-shadow: black 5px 5px 45px;

}


/* end about-section */

/* Login-Section */
.login-section{
  width: 100%;
  padding-top: 40px;
   /* background-color: green;  */
  height: 1000px;
  background-image: url('../static/images/login-section-bg.png');
  

  
}
.login-section-container p{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  

}

/* end login-section */
.about-section-container h1{
  text-align: center;
  font-family: 'Amatic SC';
}
.about-section-container p{
  text-align: center;
  font-family: 'Indie Flower';
  font-size: 30px;
}
/* end about section */

.room_id{
  position: right;
  background-color: white;
  right: 51.5%;
  height: 40%;
  width: 30%;
  bottom: 31%;
  font-size: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

/**Header**/
@media(max-width:1300px){
  .teachers-button{
    width: 50%;
    padding-left: 13%;
  }
  .teachers-button img{
    width: 80%;
    display: inline-flex;
    margin-left: 20%;
    margin-top: 8%;
    box-shadow:black 5px 5px 45px;
  }
}

@media(max-width: 320px){
  .nav div.logo a{

  }
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 10%;
    padding-bottom: 200px;
  }
}


/**Create Classroom**/
.headerbg{
  background-color:rgb(155, 155, 155);
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

.createclassroom{
  background: transparent;
  padding:5%;
  background-image:none;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.classroomlistings {
  position: relative;
  background-color: transparent;
  height:500px;
  font-size: 175%;
}

.form-container {
    position: relative;
    width: 30%;
    margin: auto;
    margin-top: 105px;
    background-color:rgba(50,50,50,.35);
    padding: 1%;
    border-radius:15px;
}

.btn {
    background-color: white;
}

.qtype-choice {
    margin: 3px;
}
.qtype-container {
    margin: auto;
}

/**Account**/
.classroomdisplay {
  background-color:rgb(121, 153, 201);
}

.classroomcolumn {
  background-color:rgba(71, 104, 153, 0.8);
  height:500px;
  width:700px;
}

.classroom_element {
  margin-top:2%;
}