body{
  background: #9bdaf2;
  color: #333333;
}

nav{
  background-image: linear-gradient(to bottom,#15afe9,#9bdaf2);
}

.navbar-brand{
  margin-bottom:1%;
  color:#ffa600;
}


.nav-link{
  background-color:#9bdaf2;
  border: 1px solid black;
  box-shadow: 1px 2px 2px black;
  border-radius: 10px;
  margin-bottom:15%;
  margin-left:75%;
  text-align:center;
}

.navright{
  margin-left:0%;
}

.login{
  background-color:#ffa600;
  margin-right:25%;
}

.register{
  background-color:#3265f0;
  margin-right:25%;
}

li{
  margin-left:75%;
}


 
ul{
  font-size: 100%;
}
  
.container{
    display: flex;
    align-items: center;
    width: 100%;
}
