.theme-action {color:#000 !important; background-color:#00e676 !important}
.theme-med {color:#000 !important; background-color:#6A9E77 !important}
.theme-med-shadow {color:#000 !important; background-color:#4f7659 !important}
.theme-light {color:#000 !important; background-color:#D5FADC !important}
.theme-dark {color:#fff !important; background-color:#424271 !important}