{% extends "layout.html" %}
{% block content %}
<!-- Display the user's classrooms here in reverse chronological order -->
<!--{{ table }}-->
<!--This is to iterate through all classrooms-->

<body class="container-fluid">
        <div class="col classroomcolumn">
                <div class="classroomdisplay">
                        {% for classroom in current_user.classrooms %}
                                <div class="dropdown show classroom_element">
                                        <a class="btn-lg btn-block btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Name: {{ classroom.classroom_Name }}
                                        </a>
                                        <div class="dropdown-menu">
                                                {% for quiz in current_user.classrooms.quiz %}
                                                        {% if quiz.active==quiz.quiz_Name %}
                                                                <a class="dropdown-item active" href="#">
                                                                        Quiz: {{quiz.quiz_Name}}
                                                                </a>
                                                        {%else%}
                                                                <a class="dropdown-item" href="#">
                                                                        Quiz: {{quiz.quiz_Name}}
                                                                </a>
                                                        {%endif%}
                                                {% endfor %}
                                                <a class="dropdown-item" href="#quizcreate">
                                                        Create A New Quiz
                                                </a>
                                        </div>
                                </div>
                        {% endfor %}
                </div>
        </div>
</body>
{% endblock %}