{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }} <!--adds ctrf form-->
            
            <fieldset class ="form-group">
            <div class = "form-group">
                {{ form.quiz.label }} -> {{ form.quiz }}

                
            </div>
            
            <div class = "form-group">
                {% if quiz_list | length == 1%}
                {{ form.submit(class="btn btn-lg btn-outline-info" ,value = "Create Quiz") }}
                {% else %}
                {{ form.submit(class="btn btn-lg btn-outline-info") }}
                {% endif %}
                
            </div>
            
            </fieldset>
        </form>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

       
    </div>
</div>
{% endblock %}