{% extends "layout.html" %}
{% block content %}
<div class= "form-container" id=question-form>
    <div class = "content-section">
        <form action = "" method = "POST">
            {{ form.hidden_tag() }}
        

        <fieldset class ="form-group">
            <div class ="form-group">
                {{ form.content.label }} -> {{form.content}}
                {{ form.category.label}} -> {{form.category}}
                {{ form.answers.label }} -> {{form.answers}}
            </div>
        </fieldset>
        </form>
        <div class ="form-group">
            {{ form.submit(class="btn btn-lg btn-outline-info") }}
        </div>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        {% if data is defined %}
            <p>Received data: {{ data }}</p>
        {% endif %}
    </div>
</div>
{% endblock  %}