{% extends "layout.html" %}

{% block content %}

<div id="classroom-container">
	<div class="titlebar" style="border-bottom:1px solid black;">
		<div id="classroom-title-display" class="input-group float-left" style="width: max-content;">
			<input type="text" class="form-control" placeholder="{{ classroom.name }}" disabled>
			<div class="input-group-append">
				<button onclick="javascript:toggleEditClassroomTitle();" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
			</div>
		</div>

		<form style="display: none;" id="classroom-title-edit" action="{{ url_for('classrooms.edit_classroom_name', classroom_id=classroom.id) }}">
			<div style="width: max-content;" class="input-group">
				{{form.hidden_tag()}}
				<input id="classroomname-content-3" class="form-control" maxlength="60" name="name" required placeholder="{{ classroom.name }}" value="{{ classroom.name }}">
				<div class="input-group-append">
					<button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i></button>
					<button type="reset" onclick="javascript:toggleEditClassroomTitle();" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i></button>
				</div>
			</div>
		</form>
		<!-- Save button -->
		<button class="btn-sm sideClick general-btn"
		        onclick="window.location.href='{{ url_for('users.classrooms') }}';">
			<i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> Save and Exit
		</button>
	</div>
	<!-- List of added quizzes -->
	<div class="quizlist" id="quizzes-{{classroom.id}}">
		<!-- Heading and add-quiz button -->
		<div id="ActiveRoomsHeader" style="font-size: 2.2vw;">
			<h4 class="Active-Rooms">Added Quizzes</h4>
			<button class="btn-sm sideClick general-btn"
			        onclick="window.location.href='{{ url_for('classrooms.add_quiz', classroom_id=classroom.id) }}';"><i
					class="fas fa-plus" aria-hidden="true" aria-label="add a quiz"></i> Quiz
			</button>
		</div>
		<div style="clear: both;"></div>
		<!-- actual quiz data/options -->
		<table id="added-quizzes-table" class="dt-responsive row-border stripe hover nowrap" style="width: 100%;">
			<thead>
				<tr>
					<td class="text-center">Name</td>
					<td class="text-center">Date Modified</td>
					<td class="text-center">Date Created</td>
					<td class="text-center">Options</td>
				</tr>
			</thead>
			<tbody>
				{% for quiz in classroom.added_quizzes|sort(attribute="name") %}
				<!-- JavaScript option to set the current quiz in the list to active -->
				<tr id="quiz-{{ quiz.id }}" class="table-element">

					<td class="col-4"><a href="{{ url_for('quizzes.quiz', quiz_id=quiz.id) }}">{{ quiz.name }}</a></td>
					<td class="col-4 text-center date-created" style="padding-left: 3%;">{{ quiz.date_modified.strftime("%m/%d/%y") }}</td>
					<td class="col-4 text-center date-created" style="padding-left: 3%;">{{ quiz.date_created.strftime("%m/%d/%y") }}</td>
					<td class="col-4 quiz-icon-col">
						{% if classroom.active_quiz == None %}
						<button id="set-active-btn" data-class="{{classroom.id}}" data-quiz="{{quiz.id}}" class="btn general-btn"
						        data-toggle="modal" data-target="#set_active_modal">
							Set Active
						</button>
						<!-- TODO when un-setting a diff quiz, this one doesn't get activated; also the modal doesn't tell you which quiz you're deactivating -->
						{%include 'editing_quiz_warning_modal.html'%}
						<!-- TODO make this actually remove this quiz from the current classroom, instead of deleting the current classroom -->
						<button data-toggle="tooltip" data-placement="top" title="Unlink this quiz" type="button" class="btn general-btn"
						        aria-label="unlink this quiz">
							<i style="color: darkred;" class="account-page-icons fa fa-lg fa-times" aria-hidden="true"></i><br>
						</button>
						{% elif classroom.active_quiz == quiz.id %}
						{% if classroom.generate_qr %}
						<button class="btn btn-sm btn-outline-info" data-toggle="modal"
						        data-target="#qr_code_modal"> Show QR CODE
						</button>
						{% endif %}
						<button id="remove-active-btn" data-class="{{classroom.id}}" class="btn general-btn">
							Unset Active
						</button>
						{%endif%}
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</div>

{%include 'set_active_modal.html'%}

{% if (current_user.is_authenticated) and (classroom.owner == current_user) %}

{% include 'qr_code_modal.html' %}

<div class="classroom-options">
	{% if classroom.active_quiz %}
	<button id="take-active-quiz" class="btn general-btn"
	        onclick="window.location.href='{{ url_for('classrooms.take_quiz', classroom_id=classroom.id) }}';">Take
		Active Quiz <i class="fas fa-door-open"></i></button>
	{% if has_responses %}
	<button id="view-results" class="btn general-btn"
	        onclick="window.location.href='{{ url_for('classrooms.view_results', classroom_id=classroom.id) }}';"><i
			class="fas fa-chart-bar" aria-hidden="true"></i> View Results
	</button>
	{% endif %}
	<div style="clear: both;"></div>
	{% endif %}
</div>
{% endif %}
<script src="{{url_for('static', filename='js/Classroom.js')}}" type="text/javascript"></script>
{% endblock %}
