{% extends "layout.html" %}
{% block content %}
<div id="modalPopUpForm" class="modalPopUp" {% if classForm.name.errors %}
     style="display:block;" {% else %} style="display:none;" {% endif %}>
	<div class="modalContent">
		<h1 id="modalTextForm">
		</h1>
		<!-- form for class pop up -->
		<div id="modalClass" {% if classForm.name.errors %} style="display:block;" {% else %} style="display:none;"
		     {% endif %}>
			<form action="" method="POST">
				{{ classForm.hidden_tag() }}
				<!--adds ctrf form-->
				<fieldset>
					{% if classForm.name.errors %}
					{{ classForm.name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in classForm.name.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ classForm.name(class="form-control form-control-lg") }}
					{% endif %}
				</fieldset>
				{{classForm.submitClass(class="btn btn-success")}}
				<!-- confirm button -->
				<button type="button" class="btn btn-secondary"
				        onclick="refresh('#modalPopUpForm');document.getElementById('modalPopUpForm').style.display='none'">
					Cancel
				</button>
			</form>
		</div>
	</div>
</div>
<div class="wrapper">
	<!-- displays the user's classrooms and dropdowns for quizzes attached to them -->
	<div id="classroomListing" class="classroomcolumn">
		<div class="titlebar">
			<h5>Classrooms</h5>
			<!-- option to create a new classroom -->
			<div class="btn-sm sideClick" style="float:right; margin:0.25vw;"
			     onclick="javascript:createClassroomPopup()">
				<i class="fas fa-plus" aria-hidden="true"></i> Create Classroom
			</div>
		</div>
		<div class="account-tables">
			<div class="row table-element header-row">
				<div class="col-3 show table-header">Name</div>
				<div class="col-6 text-center show table-header">Date Created</div>
				<div class="col-3 show table-header options-header">Options</div>
			</div>
			{% for classroom in current_user.classrooms|sort(attribute="date_created") %}
			<div class="table-element row">
				<!-- dropdown for a classroom's added quizzes and which one if any is active -->
				<div class="dropdown show room-name col-4">
					<button class="btn dropdown-toggle itemName col" type="button" id="dropdownMenuLink"
					        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ classroom.name }}
					</button>
					<span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for quiz in classroom.added_quizzes %}
						{% if classroom.active_quiz == quiz.id %}
						<a class="dropdown-item" href="#"
						   onclick="remove_active('{{ url_for('classrooms.remove_active') }}', classroom_id={{ classroom.id }}); location.reload();">
							*ACTIVE* Quiz: {{ quiz.name }}
						</a>
						{% else %}
						<a class="dropdown-item" href="#"
						   onclick="set_active('{{ url_for('classrooms.set_active') }}', quiz_id={{ quiz.id }}, classroom_id={{ classroom.id }}); location.reload();">
							Quiz: {{ quiz.name }}
						</a>
						{% endif %}
						{% endfor %}
					</span>
				</div>

				<div class="col-4 text-center date-created" style="padding-left: 3%;">{{
					classroom.date_created.strftime("%m/%d/%y") }}
				</div>

				<!-- can enter a class to view details, or delete it -->
				<div class="quiz-icon-col col-4">
					<span class="quiz-icon-buttons-container">
						<button onclick="window.location.href='{{ url_for('classrooms.classroom', classroom_id=classroom.id) }}';"
						        type="button" class="btn btn-sm quiz-icon" aria-label="edit">
							<i class="account-page-icons fas fa-pencil-alt" aria-hidden="true" title="edit"></i>
						</button>
						<button type="button" class="btn btn-sm quiz-icon"
						        onclick="removeClassroomPopup('{{ url_for('classrooms.delete_classroom') }}', {{ classroom.id }})" aria-label="delete">
							<i class="account-page-icons fa fa-trash" aria-hidden="true" title="delete"></i>
						</button>
					</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/Classroom.js') }}"></script>
{% endblock %}