{% extends "layout.html" %}
{% block content %}
<script crossorigin="anonymous"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/set_active.js') }}"></script>

<style>
    body{
        background-image: none;
    }
    section.nav-section {
        background-color: rgb(188, 252, 231)
    }

    .transparent-background {
        background-image: none;
    }

    .affix {
        padding: 0;
        font-size: 80%;
        background-color: rgb(188, 252, 231);
    }

    .affix .container .logo a {
        color: black;
        font-size: 100%;
    }
    .affix .container .navlinks a{
    color: black;
    }

    .nav .affix .navTrigger i {
        font-size: 80%;
        color: black;
    }

    .affix .navTrigger i {
        background-color: black;
    }

    .affix .navTrigger p {
        color: black;
    }

</style>

<div id="quiz-content-container">

    <!-- Quiz Edit Container for users -->
    <div id="editing-container">
        <!--  want to change this later to classroom name  -->

        <div id="quizTitle"></div>

        {% if current_user.is_authenticated %}

        <div id="edit-section">


            <div class="headerSection">

                <div class="editSign">Classroom</div>
                <div class="SaveExitBtn btn"><a href="{{ url_for('main.home') }}">Save and Exit</a></div>
            </div>
        </div>

        {% endif %}

        <!-- Classroom Title -->
        <div id="quiz-title">
            <div id="quizname">
                {{classroom.name}}

            </div>
        </div>

        <!-- prevent things from floating after this section -->
        <div style=" clear: both;"></div>
        <!-- prevent things from floating after this section -->


        <div id="question">

            <div class="multiple-choice">

                <!-- contents of multiple choice box -->
                <div class="question-edit-header">
                    <div class="question-number">
                        <div class="quizlist">
                            <div id="ActiveRoomsHeader" style="font-size: 2.2vw;">
                                <span class="Active-Rooms">Added Quizzes</span>
                                <a class="btn Add-A-Quiz"
                                   href="{{ url_for('classrooms.add_quiz', classroom_id=classroom.id) }}">Add a Quiz</a>

                            </div>
                            {% for quiz in classroom.added_quizzes %}
                            <!-- JavaScript option to set the current quiz in the list to active -->
                            <li>
                                {{ quiz.name }}
                                {% if quiz.id != classroom.active_quiz %}
                                <a class="btn btn-lg set-active"
                                   onclick="set_active('{{ url_for('classrooms.set_active') }}', quiz_id='{{quiz.id}}', classroom_id='{{classroom.id}}')">
                                    Set Active
                                </a>
                                {% endif %}
                            </li>
                            {%endfor%}
                        </div>

                    </div>

                </div>
                <!-- TODO having issues getting specifically the active quiz s-->
                {% if (current_user.is_authenticated) and (classroom.owner == current_user) and (current_user.quizzes)
                %}
                <div>
                    <a class="Take-Active-Quiz btn "
                       href="{{ url_for('classrooms.take_quiz', classroom_id=classroom.id) }}">Take active Quiz</a>
                </div>

                <!--I put this in each specific classroom. Only viewable if your login(teacher) and owner-->
                <div>
                    <a class="View-Results btn"
                       href="{{ url_for('classrooms.view_results', classroom_id=classroom.id) }}">View Results</a>
                </div>
                {% endif %}

                <div class="answerchoices">
                    <div class="menu">
                        <div class="answerchoices-header">

                        </div>
                        <!-- prevent things from floatt ing after this section -->
                        <div style=" clear: both;"></div>
                        <!-- prevent things from floating after this section -->

                    </div>
                </div>

                <!-- <div style="height:40vh; width:40vw;">
                   Temporary area to display charts of student data 
                    <canvas id="basicChart"></canvas>
                    <button class="Show-Student-Response btn" onclick="create_chart(numTrue='{{ sumRight }}' , numFalse='{{ sumWrong }}');">
                        Show student response {{ sumRight }}
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/data_visualization.js') }}"></script>


{% endblock %}
