{% extends "layout.html" %}
{% block content %}
<div id="modalPopUpForm" class="modalPopUp" {% if classForm.name.errors %} style="display:block;" {% else %}
	style="display:none;" {% endif %}>
	<div class="modalContent">
		<h1 id="modalTextForm">
		</h1>
		<!-- form for class pop up -->
		<div id="modalClass" {% if classForm.name.errors %} style="display:block;" {% else %} style="display:none;"
			{% endif %}>
			<form action="" method="POST">
				{{ classForm.hidden_tag() }}
				<!--adds ctrf form-->
				<fieldset>
					{% if classForm.name.errors %}
					{{ classForm.name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in classForm.name.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ classForm.name(class="form-control form-control-lg") }}
					{% endif %}
				</fieldset>
				{{classForm.submitClass(class="btn btn-success")}}
				<!-- confirm button -->
				<button type="button" class="btn btn-secondary"
					onclick="refresh('#modalPopUpForm');document.getElementById('modalPopUpForm').style.display='none'">
					Cancel
				</button>
			</form>
		</div>
	</div>
</div>
<div class="wrapper">
	<!-- displays the user's classrooms and dropdowns for quizzes attached to them -->
	<div id="classroomListing">
		<div class="titlebar">
			<h4>Classrooms</h4>
			<!-- option to create a new classroom -->
			<button class="btn-sm sideClick general-btn" onclick="javascript:createClassroomPopup()">
				<i class="fas fa-plus" aria-hidden="true"></i> Create Classroom
			</button>
		</div>
		<table id="account-tables" class="display nowrap dt-responsive" style="width: 100%;">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Date Created
					</th>
					<th>
						Date Modified
					</th>
					<th>
						Options
					</th>
				</tr>
			</thead>
			<tbody id="classrooms-data">
				<span style="display: none;">{{ request.args }} {{sort_on}} {{sort_direction}}</span>
				{% for classroom in current_user.classrooms%}
				<tr class="table-element">
					<!-- dropdown for a classroom's added quizzes and which one if any is active -->
					<td class="dropdown room-name">
						<div class="btn itemName general-btn" type="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ classroom.name }}
								<i class="fas fa-caret-down" aria-hidden="true"></i>
					</div>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button"
								onclick="window.location.href='{{ url_for('classrooms.add_quiz', classroom_id=classroom.id) }}';">
								Add a Quiz
							</button>
							{% for quiz in classroom.added_quizzes %}
							{% if classroom.active_quiz == quiz.id %}
							<button class="dropdown-item" type="button"
								onclick="window.location.href='{{ url_for('classrooms.remove_active', classroom_id=classroom.id) }}'; ">
								*ACTIVE* Quiz: {{ quiz.name }}
							</button>
							{% else %}
							<button class="dropdown-item" type="button"
								onclick="window.location.href='{{ url_for('classrooms.set_active', classroom_id=classroom.id, quiz_id=quiz.id) }}'; ">
								Quiz: {{ quiz.name }}
							</button>
							{% endif %}
							{% endfor %}
						</div>
					</td>

					<td class="text-center">
						{{ classroom.date_created.strftime("%m/%d/%y") }}
					</td>

					<!-- date last edited -->
					<td class="text-center">
						{{ classroom.date_modified.strftime("%m/%d/%y") }}
					</td>

					<!-- can enter a class to view details, or delete it -->
					<td>
						<div class="quiz-icon-buttons-container">
							<button
								onclick="window.location.href='{{ url_for('classrooms.classroom', classroom_id=classroom.id) }}';"
								type="button" class="btn btn-sm general-btn" aria-label="edit">
								<i class="account-page-icons fas fa-pencil-alt" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm general-btn"
								onclick="removeClassroomPopup('{{ url_for('classrooms.delete_classroom') }}', {{ classroom.id }})"
								aria-label="delete">
								<i class="account-page-icons fa fa-trash" aria-hidden="true"></i>
							</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script src="{{ url_for('static', filename='js/Classroom.js') }}"></script>
{% endblock %}