{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }} <!--adds ctrf form-->
            <fieldset class="form-group">
                <div class="form-group">
                    <legend class="border-bottom mb-4">Create Quiz</legend>
                    {{ form.quiz_Name.label(class="form=control-label") }}

                    {% if form.quiz_Name.errors %}
                    {{ form.quiz_Name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.quiz_Name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.quiz_Name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% for question in form.questions %}
                <div class="form-group">
                    {{ form.question.label(class="form=control-label") }}

                    {% if form.question.errors %}
                    {{ form.question(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.question.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.question(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock  %}