{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }} <!--adds ctrf form-->
            <fieldset class="form-group">
                <div class="form-group">
                    <legend class="border-bottom mb-4">Create Classroom</legend>
                    {{ form.name.label(class="form=control-label") }}

                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock  %}