{% extends "layout.html" %}
{% block content %}
<!-- Scripts for adding and removing questions and answers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/QuizForm.js"></script>
<div class="form-container">
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }} <!--adds ctrf form-->
            <fieldset class="form-group">
                <div class="form-group">
                    <legend class="border-bottom mb-4">Create Quiz</legend>
                    <!-- quiz title -->
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--
                <a class="add btn btn-outline-success" href="#" onclick="addQuestion();">Add Question</a> -->
                <div class="subforms-container">
                    {% for question in form.questions %}
                    <!-- for each question, add the question content and specify a type; then add answer(s) -->
                    <div class="subform" data-index="{{ loop.index0 }}" id="question-{{ loop.index0 }}-form">
                        <div class="form-group">
                            {{ question.content.label(class="form-control-label") }} {{ loop.index0 + 1 }}

                            {% if question.content.errors %}
                            {{ question.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in question.content.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ question.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <!-- 4 buttons to specify question type - MC, SA, T/F, or coding -->
                        <div class="form-group">
                            {{ question.qtype.label(class="form-control-label") }}
                            {{ question.qtype }}
                        </div> <!--
                            <a class="add btn btn-outline-success" href="#" onclick="addAnswer();">Add Answer</a> -->
                        <div class="subforms-container">
                            <!-- add answer content -->
                            {% for answer in question.answers %}
                            <div class="subform" data-index="{{ loop.index0 }}"
                                 id="answer-{{loop.index0 }}-form">
                                {{ answer.content.label(class="form-control-label") }} {{ loop.index0 + 1 }}

                                {% if answer.content.errors %}
                                {{ answer.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in answer.content.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ answer.content(class="form-control form-control-lg") }}
                                {% endif %}
                                <!--
                                <a class="remove btn btn-outline-danger" href="#" onclick="removeAnswer();">Remove
                                    Answer</a> -->
                            </div>
                            {% endfor %}
                        </div><!--
                            <a class="remove btn btn-outline-danger" href="#" onclick="removeQuestion();">Remove
                                Question</a> -->
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock  %}