<div class="modal fade" id="quiz_active_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quiz is set to Active</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id='default-{{quiz.id}}'>
            <div class="modal-body">
            Quizzes are not editable when activated.
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn border border-primary btn-outline-primary" onclick='show_unset_and_edit({{quiz.id}});'>Unset and Edit</button>
                <button type="button" class="btn border border-dark btn-outline-dark" onclick='show_unset({{quiz.id}})'>Unset</button>
                <button type="button" class="btn border border-info btn-outline-info" data-dismiss="modal">Close</button>
            
            </div>
        </div>
        <div id='unset-and-edit-{{quiz.id}}' class='noshow' aria-hidden="true">
            <div class='modal-body'>
                <div class='row'>
                    <h3 class='mx-auto text-danger'>Warning:</h3>
                </div>
                <div class='row'>
                    <div class='col-12'>
                        <h7 class='text-info'> deactivating quiz on ALL classrooms</h7>
                    </div>
                    

                </div>
            </div>
            <div class="modal-footer" id="confirmation-footer" >
                <button type="button" class="btn border border-success btn-outline-success" data-dismiss="modal" onclick='unset_and_edit_confirm({{quiz.id}})'>Confirm</button>
                <button type="button" class="btn border border-danger btn-outline-danger" data-dismiss="modal" >Cancel</button>
              
            </div>
        </div>
        
        <div id='unset-{{quiz.id}}' class='noshow' aria-hidden="true">
            <div class='modal-body'>
                <div class='row'>
                    <h3 class='mx-auto text-danger'>Warning:</h3>
                </div>
                <div class='row'>
                    <div class='col-12'>
                        <h7 class='text-info'> deactivating quiz on ALL classrooms</h7>
                    </div>
                    

                </div>
            </div>
            <div class="modal-footer" id="confirmation-footer" >
                <button type="button" class="btn border border-success btn-outline-success" data-dismiss="modal" onclick='unset_confirm({{quiz.id}})'>Confirm</button>
                <button type="button" class="btn border border-danger btn-outline-danger" data-dismiss="modal" >Cancel</button>
              
            </div>
        </div>
        
      </div>
    </div>
</div>