{% extends "layout.html" %}
{% block content %}
<div id="enter-classroom-form" style="margin: auto;" class="form-container">
	<div class="content-section">
		<form action="{{ url_for('classrooms.enter_classroom') }}" method="POST">
			{{ form.hidden_tag() }} <!--adds ctrf form-->

			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Student</legend>
				<div class="form-group">
					<!-- student can input the name of an active classroom to sign in and take the active quiz -->
					{{ form.room_id.label(class="form-control-label") }}
					<!-- classroom id -->
					{% if form.room_id.errors %}
					{{ form.room_id(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for errors in form.room_id.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ form.room_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-success") }}
				<a href="{{ url_for('main.home') }}" class="btn btn-danger">
					Cancel
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}