{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--adds ctrf form-->

        <fieldset class="form-group">
            <div class="form-group">
                <legend class="border-bottom mb-4">Enter Classroom</legend>
                {{ form.room_id.label(class="form=control-label") }}

                {% if form.room_id.errors %}
                    {{ form.room_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.room_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.room_id(class="form-control form-control-lg") }}
                {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info btn-lg") }}
        </div>
    </form>
</div>
</div>
{% endblock  %}