{% extends "layout.html" %}

{% block content %}


<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <section class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col" id="student-login">
                            <div class="room_id">
                                Room ID
                            </div>
                        </div>
                    </div>
                    <div class="col" id="teacher-login">
                        <!-- column for teachers-->
                        <div class="col-right">
                            <h1>Teachers</h1>
                            <!--INSERT FORM HERE-->
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>
    </div>
</header>

<section class="page-section" id="tutorial">
    <div class="container">
        <div class="row">
            <div class="col col-left">
                HoW DoEs OnE UsE ThIsSs
            </div>
        </div>
    </div>
</section>


{% endblock %}