{% extends "layout.html" %}

{% block content %}


<!-- Header -->
<header class="masthead">
    <div class="container">
    <div class="intro-text">
        <section class="page-section navbackground" id="services">
        <div class="container createclassroom">
            <div class="row">
                <div class="col">
                    <!-- column for students-->
                    <div class = "col-left">
                        <h1>Students</h1>
                        <!--FORM HERE-->
                        <div class = "room_id" > 
                            Room ID
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- column for teachers-->
                    <div class = "col-right">
                        <h1>Teachers</h1>
                        <!--INSERT FORM HERE-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    </div>
</header>
    

{% endblock %}