
{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
	console.log("Setting homepage background");
    console.log(document.body);
    document.body.style.backgroundImage = "url(\"../static/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg\")";
    document.body.style.backgroundSize = "inherit";
    document.body.style.backgroundAttachment = "fixed";
    $('nav').css("background-color", "transparent");
    $('.navbar-brand').css("color", "midnightblue");

    $('.navbar-brand').hover(function() {
        $(this).css("color", "yellow");
    }, function() {
        $(this).css("color", "midnightblue");
    });
</script>
<section id="hook-section" class="landing-section">
	<div class="row container wrapper">
		<div id="landing-page-text-bg" class="row center text-center">
			<span class="landing-page">
				Study<br>Learn<br>Feel<br>Do
			</span>
			<span class="landing-page accent">Better.<br>
				<i style="display: block; font-family: 'open sans'; font-size: large;">We make education easy - whether you're a student or an instructor.</i>
				<button class="btn btn-outline-midnightblue" onclick="window.location.href='#about-section';">Learn more</button>
				<button class="btn btn-outline-midnightblue" onclick="window.location.href='{{ url_for('users.register') }}';">Get started</button>
			</span>
		</div>
	</div>
</section>
<section id="about-section" class="landing-section">
	<h2 style="margin: auto; margin-bottom: 3vh; font-family: lemonmilk;">About Us</h2>

	<div class="about-us-description">
		<img style="float: left;" src="{{ url_for('static', filename='images/default-profile-pic.png') }}" width="250" height="250"/>
		<div class="text-center" style="float: right; width: 15%; height: 250px;"><strong style="font-size: xxx-large;">Tim<br/>Poehlman</strong></div>
		<div style="float: right; height: 250px; width: 70%;"><p style="margin-top: 1.5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ornare commodo. Praesent id pellentesque magna, et viverra nisl. Duis vel enim facilisis, vestibulum nulla eu, dictum urna. Mauris porttitor augue odio, eget luctus mauris volutpat at. Nam ut posuere arcu, ac vulputate arcu. Nulla vestibulum erat luctus massa tempor, non fermentum tellus suscipit. Suspendisse sed condimentum sem. Sed dapibus arcu purus. Sed condimentum tortor ut rutrum tempus. Curabitur vel metus sed turpis accumsan tincidunt.</p></div>
	</div>
	<div style="clear: both;"></div>
	<div class="about-us-description">
		<div class="text-center" style="float: left; width: 15%; height: 250px;"><strong style="font-size: xxx-large;">Katie<br/>Borley</strong></div>
		<div style="float: left; height: 250px; width: 70%;"><p style="margin-top: 1.5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ornare commodo. Praesent id pellentesque magna, et viverra nisl. Duis vel enim facilisis, vestibulum nulla eu, dictum urna. Mauris porttitor augue odio, eget luctus mauris volutpat at. Nam ut posuere arcu, ac vulputate arcu. Nulla vestibulum erat luctus massa tempor, non fermentum tellus suscipit. Suspendisse sed condimentum sem. Sed dapibus arcu purus. Sed condimentum tortor ut rutrum tempus. Curabitur vel metus sed turpis accumsan tincidunt.</p></div>
		<img style="float: right;" src="{{ url_for('static', filename='images/default-profile-pic.png') }}" width="250" height="250"/>
	</div>
	<div style="clear: both;"></div>
	<div class="about-us-description">
		<img style="float: left;" src="{{ url_for('static', filename='images/default-profile-pic.png') }}" width="250" height="250"/>
		<div class="text-center" style="float: right; width: 15%; height: 250px;"><strong style="font-size: xxx-large;">Adrian<br/>Gabales</strong></div>
		<div style="float: right; height: 250px; width: 70%;"><p style="margin-top: 1.5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ornare commodo. Praesent id pellentesque magna, et viverra nisl. Duis vel enim facilisis, vestibulum nulla eu, dictum urna. Mauris porttitor augue odio, eget luctus mauris volutpat at. Nam ut posuere arcu, ac vulputate arcu. Nulla vestibulum erat luctus massa tempor, non fermentum tellus suscipit. Suspendisse sed condimentum sem. Sed dapibus arcu purus. Sed condimentum tortor ut rutrum tempus. Curabitur vel metus sed turpis accumsan tincidunt.</p></div>
	</div>
	<div style="clear: both;"></div>
</section>
{% endblock %}