<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">

	{% if title %}
	<title>Lightbulb - {{ title }}</title>
	{% else %}
	<title>Lightbulb</title>
	{% endif %}

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<!-- Popper -->
	<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<!-- Bootstrap core CSS -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
	<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<!-- Mathjax -->
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

	<!-- Custom fonts for this template -->
	<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
	      type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@400&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">

	<!-- CSS for datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css"
	      href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.css"/>

</head>

<body id="body" class="tex2jax_ignore">
	<main class="page-wrap">
		<!--NavBar-->
		<header>
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="{{ url_for('main.home') }}"><h1>Lightbulb</h1></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<div class="navTrigger">
						<span>B</span>
						<span>C</span>
						<span> </span>
					</div>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
						</li>
						{% if current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.classrooms') }}">Classrooms</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.quizzes') }}">Quizzes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.account') }}">Account</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<!--End Of NavBar-->

		<!-- Home section -->
		<!-- Message flashing -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}" role="alert">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<!-- Pop Ups -->
		<div id="modalPopUp" class="modalPopUp" style="display:none;">
			<div class="modalContent">
				<h1 id="modalTitle">
					Please Confirm
				</h1>
				<div id="modalText">
					An unknown error has occurred
				</div>
				<button id="modalButton" type="button" class="btn btn-success">Confirm</button>
				<button id="cancelButton" type="button" class="btn btn-secondary"
				        onclick="document.getElementById('modalPopUp').style.display='none'">Cancel
				</button>
			</div>
		</div>

		<!-- Page content -->
		{% block content %}
		{% endblock %}
		<!-- End of Home Section -->
	</main>

	<!-- prevent things from floating after this section -->
	<!-- from https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
	<!-- Footer -->
	<footer class="font-small site-footer">

		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">

			<!-- Grid row-->
			<div class="row text-center d-flex justify-content-center pt-5 mb-3">

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">About us</a>
					</h6>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Account</a>
					</h6>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Research</a>
					</h6>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Help</a>
					</h6>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Contact</a>
					</h6>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->
			<hr class="rgba-white-light" style="margin: 0 15%;">

			<!-- Grid row-->
			<div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

				<!-- Grid column -->
				<div class=" col-md-8 col-12 mt-3">
					<p> Official Lightbulb </p>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->
			<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

			<!-- Grid row-->
			<div class="row pb-3">

				<!-- Grid column -->
				<div style="margin:auto;">

					<div class="flex-center">

						<!-- Facebook -->
						<a class="fb-ic">
							<i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic">
							<i class="fab fa-twitter fa-lg white-text mr-4"> </i>
						</a>
						<!-- Google +-->
						<a class="gplus-ic">
							<i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
						</a>
						<!--Linkedin -->
						<a class="li-ic">
							<i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
						</a>
						<!--Instagram-->
						<a class="ins-ic">
							<i class="fab fa-instagram fa-lg white-text mr-4"> </i>
						</a>
						<!--Pinterest-->
						<a class="pin-ic">
							<i class="fab fa-pinterest fa-lg white-text"> </i>
						</a>

					</div>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="https://bettercrative.com/"> Lightbulb.com</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	<!-- Global Javascript -->
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script type="text/javascript" charset="utf8"
	        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script type="text/javascript"
	        src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.js"></script>
</body>
</html>