<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    {% if title %}
    <title>Bettercrative - {{ title }}</title>
    {% else %}
    <title>Bettercrative</title>
    {% endif %}

    <!-- Bootstrap core CSS -->


    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
          
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    
   

    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
</head>

<body id = "body">
<div class="transparent-background">
    <!--NavBar-->
    
        <header>
            <nav class="nav">
                <div class="container">
                    <div class="logo">
                        <a href="{{ url_for('main.home') }}">Bettercrative</a>
                    </div>


                    <div class="listofcontents" id="navlistcontents">
                        <ul class="navlinks">
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('main.about') }}"> About </a></li>
                            <li><a href="{{ url_for('users.account') }}"> Account </a></li>
                            <li><a href="{{ url_for('users.logout') }}"> Logout </a></li>
                            {% else %}
                            
                            <li><a href="{{ url_for('users.register') }}"> Register </a></li>
                            <li><a href="{{ url_for('main.about') }}"> About </a></li>
                            
                            </li>
                            {% endif %}

                        </ul>
                    </div>

                    <!-- Collapse for mobile-->
                    <span class=navTrigger>
                            <i>
                                <p>B</p>
                            </i>
                            <i>
                                <p>C</p>
                            </i>
                            <i> </i>
                        </span>

                </div> <!-- container close tag-->

            </nav>
        </header>
    <!--End Of NavBar-->

    <!-- Home section -->
    <section class="home-section">
        <!-- Message flashing -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page content -->
        {% block content %}
        {% endblock %}
    </section>
</div>
<!-- End of Home Section -->
</div>
<!-- makes collapse icon clickable w/ animation -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<!--End Of NavBar-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/QuizForm.js') }}"></script>
<!-- navbar pop script -->
<script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 30) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });



</script>
<script>
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked hamburger");
    $("#navlistcontents").toggleClass("show_list");
    $("#navlistcontents").fadeIn();

});
</script>

<script>
        function dropDown() {
            var x = document.getElementById("navlistofcontents");
            if (x.className === "listofcontents") {
                x.className += " responsive ";
            }
            else {
                x.className = "listofcontents";
            }
        }


</script>
</body>

</html>