<div id="qr_code_modal-{{ quiz.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign in to classroom "{{ classroom.name }}"</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body text-center" style="padding: 10%">
          <img src="{{ qrcode(url_for('classrooms.take_quiz', classroom_id=classroom.id)) }}" height="150"
                           width="150" alt="Scan this QR code to sign into classroom {{ classroom.name }}">
        </div>
      </div>
    </div>
  </div>

