{% extends "layout.html" %}

{% block content %}
<div id="modalPopUpForm" class="modalPopUp" {% if quizForm.name.errors %}
     style="display:block;" {% else %} style="display:none;" {% endif %}>
	<div class="modalContent">
		<h1 id="modalTextForm">
		</h1>
		<!-- form for quiz pop up -->
		<div id="modalQuiz" {% if quizForm.name.errors %} style="display:block;" {% else %} style="display:none;"
		     {% endif %}>
			<form action="" method="POST">
				{{ quizForm.hidden_tag() }}
				<!--adds ctrf form-->
				<fieldset>
					{% if quizForm.name.errors %}
					{{ quizForm.name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in quizForm.name.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ quizForm.name(class="form-control form-control-lg") }}
					{% endif %}
				</fieldset>
				{{quizForm.submitQuiz(class="btn btn-success")}}
				<!-- confirm button -->
				<button type="button" class="btn btn-secondary"
				        onclick="refresh('#modalPopUpForm');document.getElementById('modalPopUpForm').style.display='none'">
					Cancel
				</button>
			</form>
		</div>
	</div>
</div>
<div class="wrapper">
	<!-- displays the user's quizzes -->
	<div id="quizListing" class="quizcolumn">
		<div class="titlebar">
			<h4>Quizzes</h4>
			<!-- option to create a new quiz -->
			<button class="btn-sm sideClick" onclick="javascript:createQuizPopup()">
				<i class="fas fa-plus" aria-hidden="true"></i> Create Quiz
			</button>
		</div>
		<div class="account-tables">
			<div class="row table-element header-row">
				<div class="col-3 text-center show table-header"><button id="sort-by-name" class="btn sort-buttons">Name <i class="fas fa-arrow-up sort-ascending" aria-hidden="true"><span class="sr-only">Sort quizzes by name (descending)</span></i></button></div>
				<div class="col-6 text-center show table-header"><button id="sort-by-date" class="btn sort-buttons">Date Created <i class="fas fa-arrow-up sort-ascending" aria-hidden="true"><span class="sr-only">Sort quizzes by date (descending)</span></i></button></div>
				<div class="col-3 show table-header options-header">Options</div>
			</div>
			{% for quiz in current_user.quizzes|sort(attribute='name') %}
			<div class="row table-element">
				<div class="col-4 show table-quiztitle itemName">
					{{ quiz.name }}
				</div>
				<time class="col-4 date-created text-center">{{ quiz.date_created.strftime("%m/%d/%y")
					}}
				</time>
				<!-- user can enter a quiz to view details, or delete it -->
				<div class="quiz-icon-col col-md-4 col-sm-3 col-xs-3">
					<div class="quiz-icon-buttons-container">
						<!-- more options dropdown -->
						<div class="dropdown">
							<button id="more-options" class="btn dropbtn quiz-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-label="more options">
								<i class="fas fa-ellipsis-h" aria-hidden="true" title="more options"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="more-options">
								<button class="dropdown-item" type="button" aria-label="share"><i class="account-page-icons fas fa-share-alt" aria-hidden="true"></i></button>
								<button class="dropdown-item" type="button" aria-label="download"><i class="account-page-icons fas fa-download" aria-hidden="true"></i></button>
								<button class="dropdown-item" type="button" aria-label="copy"><i class="account-page-icons fas fa-copy" aria-hidden="true"></i></button>
							</div>
						</div>
						<!-- edit button -->
					<button onclick="window.location.href='{{ url_for('quizzes.quiz', quiz_id=quiz.id) }}';"
					        type="button" class="btn btn-sm quiz-icon" aria-label="edit">
						<i class="account-page-icons fas fa-pencil-alt" aria-hidden="true"></i>
					</button>
						<!-- delete button -->
						<button type="button" class="btn btn-sm quiz-icon"
						        onclick="removeQuizPopup('{{ url_for('quizzes.delete_quiz') }}', {{ quiz.id }})" aria-label="delete">
						<i class="account-page-icons fas fa-trash" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/Classroom.js') }}"></script>

{% endblock %}