{% extends "layout.html" %}
{% block content %}

<div id="quiz-container">
	<div class="titlebar">
		<!-- Quiz Title -->
		<button class="btn-sm editTitle general-btn classroomname" id="quiz-{{quiz.id}}"
		        onclick="showEditQuizNameContainer({{ quiz.id }})" aria-label="edit quiz name">
			{{quiz.name}}
			<span style="float:right; opacity:0.5; font-size:2vw;">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </span>
		</button>
		<!-- Title edit form -->
		<form id="quiz-form-{{quiz.id}}" style="display: none;"
		      action="{{ url_for('quizzes.edit_quiz_name', quiz_id=quiz.id) }}">
			{{qzform.hidden_tag()}}
			<fieldset class="editTitle general-btn form-group edit-classroom-form">
				<div class="form-group">
					{% if qzform.name.errors %}
					{{qzform.name(placeholder='Enter new name '
					,id='quizname-content-'~quiz.id,value=quiz.name, maxlength='20', class='form-control
					form-control-lg is-invalid editTitle editTitle classroomname')}}
					<div class="invalid-feedback">
						{% for error in qzform.name.errors %}
						{{ error }}
						{% endfor %}
					</div>
					{% else %}
					{{qzform.name(placeholder='Enter new name '
					,id='quizname-content-'~quiz.id,value=quiz.name, maxlength='20', class='form-control
					form-control-lg editTitle editTitle classroomname')}}
					{% endif %}
				</div>
			</fieldset>
			<div class=form-group"> {{qzform.submitQuiz(class='btn btn-sm btn-outline-info',
				type='submit',id='submit-quiz-'~quiz.id, value='Save')}}
				<input type="reset" class="btn btn-sm btn-outline-danger" name="Cancel" value="Cancel"
				       onclick="resetEditQuizNameContainer({{quiz.id}})">
			</div>
		</form>
		<!-- Save button -->
		<button class="btn-sm save-and-exit sideClick general-btn"
		        onclick="window.location.href='{{ url_for('users.quizzes') }}';">
			<i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> Save and Exit
		</button>
	</div>

	<div id="questionView">
		<!-- Sets the nav bar for the questions, add scrolling later.  format so it is all in one row -->
		<div id="questions-menu" class="scrollmenu .all-items .slides" style="margin-top: 1vh;">
			{% for question in quiz.questions %}
			<div tabindex="0" role="button"
			     class="btn item {% if quiz.active == question.id %} activeQuestion {% endif %}"
			     id="qbtn-{{ loop.index }}"
			     onclick="change_active_question('{{ url_for('quizzes.change_active_question') }}', question_id={{ question.id }}, quiz_id={{ quiz.id }});">
				ID: {{question.id}}
				<button aria-label="remove question" class="fa fa-times remove-question"
				        onclick="removeQuestionPopup('{{ url_for('quizzes.remove_question') }}', q_id={{ question.id }})">
				</button>
			</div>
			{% endfor %}

			<button aria-label="add a question" class="fa fa-plus add-question .item .slide"
			        onclick="addQuestion('{{ url_for('quizzes.add_question') }}', q_id={{ quiz.id }})">
			</button>
		</div>

		<!-- prevent things from floating after this section -->
		<div style=" clear: both;"></div>
		<!-- prevent things from floating after this section -->

		<div id="questions">
			{% for question in quiz.questions %}
			<div id="question-{{ loop.index }}" {% if quiz.active != question.id %} style="display: none;" {% endif %}>
				{% if question.category %}
				<!-- Question display (no edit) -->
				<div id="question-display-{{ loop.index }}">
					<!-- Header for all question types is the same -->
					<div class="question-header" style="padding-top: 1%;">
						<div id="question-content-display-{{ question.id }}">
							<!-- Displays the question content -->
							<h5 class="question-content">
								{{ question.name }}) {{ question.content }}
							</h5>
							<!-- Edit button -->
							<div class="icon-container" style="float: right;">
								<button style="margin-right: .5vw;" class="btn btn-outline-info"
								        onclick="showEditQuestionContainer(index={{ loop.index }})"
								        aria-label="edit question">
									<i class="fas fa-pencil-alt" aria-hidden="true"></i>
								</button>
								<!-- LaTeX notice -->
								<span class="info-bar">
								<button class="info-icon" onclick="javascript:openLatexAlert()">
									<i class="fas fa-info-circle"></i>
								</button>
							</span>
							</div>
							<div style="clear:both;"></div>
						</div>
					</div>

					<!-- Each question type has a different display for answers -->
					<!-- Multiple Choice -->
					{% if question.category == 'Multiple Choice' %}
					<div class="multiple-choice container-fluid">
						{% for answer in question.answers %}
						<div class="row mc-choice form-group">
							<span class="answer-button{% if answer.correct %} bg-success{% endif %}">
								{{ get_alphabet_index( loop.index ) }}
							</span>
							<p>{{ answer.content }}</p>
						</div>
						{% endfor %}
					</div>
					<!-- True or False -->
					{% elif question.category == 'True-False' %}
					<div class="true-false">

						{%for answer in question.answers%}
						{%if loop.first and answer.correct == loop.nextitem.correct%}
						<span id="{{question.id}}-true-display"
						      class="choices btn btn-outline-success btn-success btn-lg disabled">
							True
						</span>
						<span id="{{question.id}}-false-display"
						      class="choices btn btn-outline-danger btn-danger btn-lg disabled">
							False
						</span>
						{%break%}
						{%elif answer.content == 'True' and answer.correct %}
						<span id="{{question.id}}-true-display" class="choices btn btn-success btn-lg disabled">
							True
						</span>
						<span id="{{question.id}}-false-display"
						      class="choices btn btn-outline-danger btn-danger btn-lg disabled">
							False
						</span>
						{%elif answer.content == 'False' and answer.correct %}
						<span id="{{question.id}}-true-display"
						      class="choices btn btn-outline-success btn-success btn-lg disabled">
							True
						</span>
						<span id="{{question.id}}-false-display" class="choices btn btn-danger btn-lg disabled">
							False
						</span>
						{%endif%}

						{%endfor%}
					</div>
					<!-- Short Answer -->
					{% elif question.category == 'Short Answer' %}
					<div class="short-answer">
						<div class="sa-choice" id="{{question.id}}-sa-selection">
							<ul>
								{% for answer in question.answers %}
								{% if answer.content %}
								<li>
									{{ answer.content }}
								</li>
								{% else %}
								<li><h6> Example Answer </h6></li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- IDE -->
					{% elif question.category == 'IDE' %}
					<div class="IDE" aria-label="coding question" style="text-align: center; margin-top: 1vh;">
						<i class="fas fa-5x fa-code" aria-hidden="true" style="margin-bottom: 1vh;"></i>
						<h5>This is a coding question</h5>
						<span>Students will have access to an IDE, courtesy of Ace.js. They will not be able to compile or auto-complete their code.</span>
					</div>
					{% endif %}
				</div>
				<!-- Question form (editable) -->
				<div id="question-edit-{{ loop.index }}" style="display: none;">
					<form action="{{ url_for('quizzes.edit_question', question_id=question.id) }}" method="POST">
						{{ form.hidden_tag() }}
						{{ form.question_form.hidden_tag() }}

						<fieldset class="form-group">
							<div class="form-group" style="float:right;">
								{{ form.submit(class="btn btn-sm btn-success") }}
								<input type="reset" name="Cancel" value="Cancel" class="btn btn-sm btn-secondary"
								       onclick="resetEditQuestionContainer({{ loop.index }});">
							</div>
							<!-- Question header edit -->
							<div class="form-group">
								{{ question.name }})
								{% if form.question_form.content.errors %}
								{{ form.question_form.content(class='form-control form-control-lg is-invalid') }}
								<div class="invalid-feedback">
									{% for error in form.question_form.content.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% else %}
								{% if question.content %}
								{{ form.question_form.content(class='form-control form-control-lg',
								placeholder=question.content, value=question.content) }}
								{% else %}
								{{ form.question_form.content(class='form-control form-control-lg',
								placeholder='Fill in Question Content Here', value=question.content) }}
								{% endif %}
								{% endif %}
							</div>

							<!-- Multiple Choice -->
							{% if question.category == 'Multiple Choice' %}
							{% set outer_loop = loop %}
							{% for answer in question.answers %}
							<span hidden aria-hidden="true">{{ append_form(form) }}</span>
							{% set aform = form.answer_form[ loop.index0 ] %}
							{{ aform.hidden_tag() }}
							<div class="row mc-choice">
								<!-- Button to show answer letter -->
								<span class="answer-button col-1">
									{{ get_alphabet_index( loop.index ) }}
								</span>
								<!-- Our custom checkbox for answer correctness -->
								<div class="form-group correctness-container col-1">
									<!-- {% if answer.correct %}
									<i tabindex="0" style="color: #6c757d;" id="checkbox-{{ loop.index0 }}"
									   class="fas fa-check-circle">
										<span class="sr-only">mark as incorrect</span>
									</i>
									{{ aform.correct(checked=True, value='y', class="actual-checkbox") }}
									{% else %}
									<i tabindex="0" style="color: #6c757d;" id="checkbox-{{ loop.index0 }}"
									   class="far fa-check-circle">
										<span class="sr-only">mark as correct</span>
									</i>
									{{ aform.correct(value='n', class="actual-checkbox") }} -->
									<!-- {% endif %} -->
									<i tabindex="0" style="color: #6c757d;" id="checkbox-{{answer.id}}"
									   onclick="setMC(this,{{answer.index}})"
									   class="fas fa-check-circle">

									</i>
									{{aform.correct(id='answer_form-'~answer.id~'-correct', class='noshow')}}
								</div>
								<!-- Actual answer content, with current value as a placeholder -->
								<div class="answer-content col-9">
									{% if aform.content.errors %}
									{{ aform.content(class='form-control form-control-lg is-invalid',
									placeholder=answer.content, value=answer.content) }}
									<div class="invalid-feedback">
										{% for error in aform.content.errors %}
										<span>{{ error }}</span>
										{% endfor %}
									</div>
									{% else %}
									{{ aform.content(class='form-control form-control-lg', placeholder=answer.content,
									value=answer.content) }}
									{% endif %}
								</div>
								<!-- Remove this answer -->
								<button aria-label="remove answer"
								        class="fas fa-times remove-answer col-1"
								        onclick="removeAnswer('{{ url_for('quizzes.remove_answer') }}', a_id={{ answer.id }}, index={{ outer_loop.index }});">
								</button>
							</div>
							{% endfor %}
							<!-- Add an answer -->
							<button class="btn btn-outline-success"
							        onclick="addAnswer('{{ url_for('quizzes.add_answer') }}', q_id={{ question.id }}, index={{ loop.index }})"
							        aria-label="add answer">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<!-- True or False -->
							{% elif question.category == 'True-False' %}
							{%set answer_form = form.answer_form.append_entry()%}
							{{answer_form.hidden_tag()}}
							{%for answer in question.answers%}
							{%if answer.content == "True"%}
							{{answer_form.content(class='noshow',value='True')}}
							{{answer_form.correct(class='noshow', value='1',id='answer_form-true-' ~ question.id)}}
							{%if answer.correct%}
							<span class="btn btn-lg btn-outline-success active" id="btn-true-{{question.id}}"
							      onclick="checked(this)" title="True">True
											</span>
							{%else%}
							<span class="btn btn-lg btn-outline-success" id="btn-true-{{question.id}}"
							      onclick="checked(this)" title="True">True
											</span>
							{%endif%}
							{%else%}
							{{answer_form.content(class='noshow',value='False')}}
							{{answer_form.correct(class='noshow', value='0',id='answer_form-false-' ~ question.id)}}
							{%if answer.correct%}
							<span class="btn btn-lg btn-outline-danger active" id="btn-false-{{question.id}}"
							      onclick="checked(this)" title="False">False
											</span>
							{%else%}
							<span class="btn btn-lg btn-outline-danger" id="btn-false-{{question.id}}"
							      onclick="checked(this)" title="False">False
											</span>
							{%endif%}
							{%endif%}
							{%endfor%}
							<!-- Short Answer -->
							{% elif question.category == 'Short Answer' %}
							{% set outer_loop = loop %}
							{% for answer in question.answers %}
							<div class="row" style="margin-bottom: 1vh;">
								{% set aform = saform.answer_form %}
								{% set f = aform.process_data(answer.content) %}
								<div class="answer-content col-10">
									{% if aform.errors %}
									{{aform(class='form-control form-control-lg is-invalid')}}
									<div class="invalid-feedback">
										{% for error in aform.errors %}
										<span>{{ error }}</span>
										{% endfor %}
									</div>
									{% else %}
									{{aform(class='form-control form-control-lg')}}
									{% endif %}
								</div>

							</div>
							{% endfor %}

							{% endif %}
						</fieldset>
					</form>
				</div>
				{% else %}
				<!-- four buttons to choose question type -->
				<div class="question-type-container">
					<button class="question-type-choice-box btn-primary"
					        onclick="setQType('{{ url_for('quizzes.set_question_type') }}',question_id={{ question.id }}, qtype='Multiple Choice')">
						Multiple
						Choice
					</button>
					<button class="question-type-choice-box btn-danger"
					        onclick="setQType('{{ url_for('quizzes.set_question_type') }}',question_id={{ question.id }}, qtype='True-False')">
						True
						or False
					</button>
					<button class="question-type-choice-box btn-warning"
					        onclick="setQType('{{ url_for('quizzes.set_question_type') }}',question_id={{ question.id }}, qtype='Short Answer')">
						Short
						Answer
					</button>
					<button class="question-type-choice-box btn-secondary"
					        onclick="setQType('{{ url_for('quizzes.set_question_type') }}',question_id={{ question.id }}, qtype='IDE')">
						Coding
					</button>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/QuizForm.js') }}"></script>
<script charset="utf-8" src="{{ url_for('static', filename='js/src-min/ace.js') }}" type="text/javascript"></script>
<script type="text/javascript">
        var textarea = $('#editor-content');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/iplastic");
        editor.session.setMode("ace/mode/javascript");

        editor.getSession().on('change', function () {
            textarea.val(editor.getSession().getValue());
        });

        textarea.val(editor.getSession().getValue());

</script>
{% endblock %}
