{% extends "layout.html" %}
{% block content %}

    <!-- Display the current quiz and its content -->
    <!--I'm not sure if just dispalying the form is the best approach, but it is the one I'm taking rn-->
    <!-- <div class = "container">
        <div class = "col-md-6 quiz-section">
            <div class = "multipleChoice" id = "multipleChoice">
                <div id = "letter" class= "letterChoices">A </div>
            
                <div id = "letter" class= "letterChoices">B </div>
            
                <div id = "letter" class= "letterChoices">C </div>
            
                <div id = "letter" class= "letterChoices">D</div>
            </div>
        <div class = "col-md-6 questionAnswers">
            {% for answers in quiz.question_answers %}
            
            <div class= "answerOptions">
                
                    <h1 class = "answerInput" id ="answerInput">  {{answers}} </h1>
                
            </div>
            
            {% endfor %}
        
        </div>
    </div> -->
    
    <style>
        body{
            background-image: none;
        }
        section.nav-section{
            background-color:rgb(188, 252, 231)
        }
        .transparent-background{
            background-image: none;
        }
        
        .affix {
        padding: 0;
        font-size: 80%;
        background-color:rgb(188, 252, 231);
        }
        .affix .container .logo a{
        color: black;
        font-size: 100%;
        }
        .affix .container .navlinks a{
        color: black;
        }
        .nav .affix .navTrigger i{
        font-size: 80%;
        color: black;
        }
        .affix .navTrigger i{
        background-color: black;
        }
        .affix .navTrigger p{
            color: black;
        }
    


    </style>
    
    <div id = "quiz-content-container">

        <!-- Quiz Edit Container for users -->
        <div id = "editing-container">
            <!--  want to change this later to classroom name  -->
            
            <div id = "quizTitle">   </div>
            
            <div id = "edit-section">
                

                

                
                <div class ="headerSection">
                    
                    <div class = "editSign">Edit Quiz</div>
                    <div class = "SaveExitBtn" > <a href ="{{ url_for('users.account')}}" >Save and Exit</a></div>
                </div>
            </div>

            <!-- Quiz Title -->
            <div id = "quiz-title">
                <div id="quizname">
                    {{quiz.name}}

                </div>
            </div>

            <!-- Sets the nav bar for the questions, add scrolling later.  format so it is all in one row -->
            <div>
                {% for question in quiz.questions %}

                    {% if quiz.active_question == question.name %}
                    <a class="btn active" id="question-{{ question.id }}">
                        {{ loop.index0 }}+1
                        <button class="btn" onclick="removeQuestion('{{ url_for('quizzes.remove_question') }}', q_id={{ question.id }})">
                            X
                        </button>
                    </a>
                    {% else %}
                    <a class="btn" id="question-{{ question.id }}">
                        Question {{ loop.index0 + 1 }}
                        <button class="btn" onclick="removeQuestion('{{ url_for('quizzes.remove_question') }}', q_id={{ question.id }})">
                            X
                        </button>
                    </a>
                    {% endif %}

                {% endfor %}
                

                <button class="btn" onclick="addQuestion('{{ url_for('quizzes.add_question') }}', q_id={{ quiz.id }})">
                    +
                </button>

            </div>
            <!-- style="display:none" in the section for hiding and showing in javascriptTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->

            <!-- prevent things from floating after this section -->
            <div style =" clear: both;"></div>
            <!-- prevent things from floating after this section -->

            <div id = "questions">
                
                <div id = "given-question">
                    
                    <!-- in the future, need to know whether a question is multiple choice, short answer or t/f -->
                    <!-- if multiple choice, give div class multiple choice same with others -->
                    <!-- also need to be able to add questions in one quiz -->
                   
                    <div id = "question">
                        
                        <div class = "multiple-choice">

                            <!-- contents of multiple choice box -->
                            <div class = "question-edit-header">
                                <div class="question-number">
                                    <!-- TODO make this show the correct question number -->
                                    <label>1) {{quiz.question_content}}</label>
                                    <a id = "Quiz-Edit" href= "#"> Edit</a>    
                                </div>
                                
                            </div>
                            

                            <div class = "answerchoices">
                                <div class = "menu">
                                    
                                    <!-- prevent things from floating after this section -->
                                    <div style =" clear: both;"></div>
                                    <!-- prevent things from floating after this section -->

                                </div>
                            </div>

                            <div class ="reset"> </div>

                            {%for eachanswer in quiz.question_answers%}
                            <div class = "answerContainer reset">
                                <div class = "answerChoice">
                                   
                                    {%if quiz.question_answers.index(eachanswer) == 0%}
                                    <span class = "choice"> A </span>
                                    {%elif quiz.question_answers.index(eachanswer) == 1 %}
                                    <span class = "choice"> B</span>
                                    {%elif quiz.question_answers.index(eachanswer) == 2 %}
                                    <span class = "choice"> C</span>
                                    {%else %}
                                    <span class = "choice"> D</span>
                                    {%endif%}
                                    
                                    <div class = "answerBox">
                                        <div class = "answerBox-answer">
                                            {{eachanswer.content}}
                                        </div>
                                    </div>
                                </div>

                            {%endfor%}

                            <!-- <div class = "answerContainer reset">
                                <div class = "answerChoice">
                                    <span class = "choice"> A</span>
                                    <div class = "answerBox">
                                        <div class = "answerBox-answer">
                                            {{quiz.question_answers}}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class = "answerChoice">
                                    <span class = "choice"> B</span>
                                    <div class = "answerBox">
                                        <div class = "answerBox-answer">
                                            

                                        </div>
                                    </div>
                                </div>
                                
                                <div class = "answerChoice">
                                    <span class = "choice"> C</span>
                                    <div class = "answerBox">
                                        <div class = "answerBox-answer">
                                            

                                        </div>
                                    </div>
                                </div>
                                
                                <div class = "answerChoice">
                                    <span class = "choice"> D</span>
                                    <div class = "answerBox">
                                        <div class = "answerBox-answer">
                                            

                                        </div>
                                    </div>
                                </div> -->
                                
                                
                                
                            </div>

                        </div>
                    </div>  
                   
                </div>
                
            </div>

            


        </div>
    </div>
    
    
    




{% endblock %}

