{% extends "layout.html" %}
{% block content %}

<style>
        body{
            background-image: none;
        }
        section.nav-section{
            background-color:rgb(188, 252, 231)
        }
        .transparent-background{
            background-image: none;
        }
        
        .affix {
        padding: 0;
        font-size: 80%;
        background-color:rgb(188, 252, 231);
        }
        .affix .container .logo a{
        color: black;
        font-size: 100%;
        }
        .affix .container .navlinks a{
        color: black;
        }
        .nav .affix .navTrigger i{
        font-size: 80%;
        color: black;
        }
        .affix .navTrigger i{
        background-color: black;
        }
        .affix .navTrigger p{
            color: black;
        }


</style>

<div id="quiz-content-container">

    <!-- Quiz Edit Container for users -->
    <div id="editing-container">
        <!--  want to change this later to classroom name  -->

        <div id="quizTitle"></div>

        <div id="edit-section">

            <div class="headerSection">

                <div class="editSign">Quiz</div>
                <div class="QuizSaveExitBtn btn"><a href="{{ url_for('users.account')}}">Save and Exit</a></div>
            </div>
        </div>

        <!-- Quiz Title -->
        <div id="quiz-title">
            <div id="quizname">
                {{quiz.name}}

            </div>
        </div>

        <!-- Sets the nav bar for the questions, add scrolling later.  format so it is all in one row -->
        <div>
            {% for question in quiz.questions %}
            <a class="btn {% if quiz.active_question == question.name %} active {% endif %}" id="qbtn-{{ loop.index }}"
               onclick="changeActiveQuestion(this)">
                {% if not loop.first %}
                <button class="btn  shift-Button"
                        onclick="shiftQuestion('{{ url_for('quizzes.shift_question') }}', q_id={{ question.id }}, direction='left')">
                    <-
                </button>
                {% endif %}
                ID: {{question.id}}
                <button class="btn  Remove-Button"
                        onclick="removeQuestion('{{ url_for('quizzes.remove_question') }}', q_id={{ question.id }})">
                    X
                </button>
                {% if not loop.last %}
                <button class="btn  shift-Button"
                        onclick="shiftQuestion('{{ url_for('quizzes.shift_question') }}', q_id={{ question.id }}, direction='right')">
                    ->
                </button>
                {% endif %}
            </a>

            {% endfor %}

            <button class="btn" onclick="addQuestion('{{ url_for('quizzes.add_question') }}', q_id={{ quiz.id }})">
                +
            </button>

        </div>
        <!-- style="display:none" in the section for hiding and showing in javascript -->

        <!-- prevent things from floating after this section -->
        <div style=" clear: both;"></div>
        <!-- prevent things from floating after this section -->

        <div id="questions">
            {% for question in quiz.questions %}
            <span id="question-{{ loop.index }}" {% if not loop.first %} style="display: none;" {% endif %}>
                   
                    <div id="question">
                        {% if question.category == 'Multiple Choice' %}
                        <div class="multiple-choice">

                            <!-- contents of multiple choice box -->
                            <div class="question-edit-header">
                                <span class="question-number">
                                    <label>{{ loop.index }}) {{ question.content }}</label>

                                    <!-- Sending in route for modifying the Question -->
                                    <a id="Question-Edit" onclick="addQuestionContent('{{ loop.index }}')"> Add Question Content </a>

                                    <div class="form-container" id="question-form-{{ loop.index }}"
                                         style="display: none;">
                                        <div class="content-section">
                                            <form action="{{ url_for('quizzes.add_question_content', question_id=question.id) }}"
                                                  method="POST">
                                                {{ qform.hidden_tag() }}

                                                <fieldset class="form-group">
                                                    <div class="form-group">
                                                        {{ qform.content.label }} -> {{ qform.content }}
                                                        {{ qform.category.label}} -> {{ qform.category }}
                                                    </div>
                                                </fieldset>

                                                <div class="form-group">
                                                    {{ qform.submit(class="btn btn-lg btn-outline-info") }}
                                                </div>
                                            </form>
                                            {% if qform.errors %}
                                                {{ qform.errors }}
                                            {%endif%}
                                        </div>
                                    </div>
                                    
                                </span>
                                
                            </div>

                            <div class="answerchoices">
                                <span class="menu">
                                    
                                    <!-- prevent things from floating after this section -->
                                    <span style=" clear: both;"></span>
                                    <!-- prevent things from floating after this section -->

                                </span>
                            </div>

                            <span class="reset"> </span>
                            <span class="answerContainer reset">
                                {% set outer_loop = loop %}
                                {% for answer in question.answers %}
                                <div class="answerChoice">
                                    <span class="choice">ID: {{ answer.id }}<!-- {{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[loop.index0] }} --><button class="btn"
                                        onclick="removeAnswer('{{ url_for('quizzes.remove_answer') }}', a_id={{ answer.id }})">
                                            X
                                </button></span>
                                    
                                    <div class="answerBox">
                                        <span class="answerBox-answer">
                                            {{answer.content}} {% if answer.correct %}(Correct){% endif %}
                                        </span>
                                        <a id="Answer-Edit" onclick="addAnswerContent('{{ outer_loop.index }}', '{{ loop.index }}')"> Add Answer Content </a>
                                        <div class="form-container" id="answer-form-{{ outer_loop.index }}-{{ loop.index }}"
                                         style="display: none;">
                                        <div class="content-section">
                                            <form action="{{ url_for('quizzes.add_answer_content', answer_id=answer.id) }}"
                                                  method="POST">
                                                {{ aform.hidden_tag() }}

                                                <fieldset class="form-group">
                                                    <div class="form-group">
                                                        {{ aform.content.label }} -> {{ aform.content }}
                                                        {{ aform.correct.label}} -> {{ aform.correct }}
                                                    </div>
                                                </fieldset>

                                                <div class="form-group">
                                                    {{ aform.submit(class="btn btn-lg btn-outline-info") }}
                                                </div>
                                            </form>
                                            {% if aform.errors %}
                                                {{ aform.errors }}
                                            {%endif%}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <button class="btn"
                                        onclick="addAnswer('{{ url_for('quizzes.add_answer') }}', q_id={{ question.id }})">
                                            +
                                </button>
                            </span>
                        </div>
                        {% elif question.category == 'True/False' %}
                        <!-- Put true/false answer format here -->
                        {% elif question.category == 'Short Answer' %}
                        <!-- Put short answer format here -->
                        {% elif question.category == 'IDE' %}
                        <!-- Put IDE format here -->
                        {% endif %}
                    </div>
                </span>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var previous = 1;
    function changeActiveQuestion(elem) {
        var index = elem.id.slice(-1);
        if(index != previous) {
            document.getElementById("question-" + index).style.display = "block";
            document.getElementById("question-form-" + previous).style.display = "none";
            document.getElementById("question-" + previous).style.display = "none";
        }
        previous = index;
    };

    

</script>


{% endblock %}

