
<div class="question-edit-header">
    <span class = 'show' id="question-content-display-{{ question.id }}">
        <span class="btn btn-sm btn-outline-info" style="float:right;width:8%;"
              onclick="showShortAnswer({{question.id}})">Edit <i class="fas fa-pencil-alt"></i></span>
        <label style="width:90%;height:100%;">
            <div style="width:22%;float:left;">
            {{ question.name }}) 
            </div>
            <div class="contentInput" style="margin-left:22%;">
            {{ question.content}}
            </div>
        </label>
    </span>
</div>
<div class="answerchoices">
    <span class="menu">
        
        <!-- prevent things from floating after this section -->
        <span style=" clear: both;"></span>
        <!-- prevent things from floating after this section -->

    </span>
</div>
<div class="answerContainer reset" id='{{question.id}}-sa-selection'>
    <div class='answerchoiceSA show' id="{{question.id}}-answerchoices">
        {%for answer in question.answers%}
            {%if answer.content%}
                {{answer.content}}
            {%else%}
                <h1> Example Answer </h1>
            {%endif%}
        {%endfor%}
    </div>
    
    <!-- hover on the selected then submit button on save  -->
    
    

    <!-- FORM -->
    <form class='short-answer-form noshow' id="{{question.id}}-short-answer-form" action="{{ url_for('quizzes.edit_question', question_id=question.id) }}" method = "POST">
        {{saform.hidden_tag()}}
        {{saform.question_form.hidden_tag()}}
        <div class='form-group'>
            <div style="width:20%;float:left;">
            {{question.name}}) 
            </div>
            <!-- {{saform.question_form.content(class="contentInput", placeholder='Enter Question Name')}} -->
            <textarea class="SAquestionbox" id="question_form-content" name="question_form-content">{{question.content}}</textarea>
        </div>
        <div class='form-group'>
            
            <!-- {{saform.answer_form(class='form-group form-control form-height',style='height:10vw;', placeholder=question.answer)}} -->
            <textarea class="SAanswerbox" id="answer_form-content" name="answer_form-content">{{question.answers[0].content}}</textarea>
            
        </div>

        <div class='form-group'>
            
            <span>{{saform.submit(class='btn btn-sm btn-outline-info', type='submit',id='submit-quiz-'~quiz.id, value='Save')}}</span>
            
            <span class='btn btn-sm btn-outline-danger' onclick="refresh('#questionView')"> Cancel</span>
            
        </div>
    </form>
    
    
    
</div>